$mainColor: #121212;
$fontColor: #E8E6E3;
$backgroundColor: #f9f3e5;


@mixin ellipsis-text {
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}