.comedians-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  .filters {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    margin-bottom: 3vh;
  }
  .comedians-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}