.video-container {
  position: relative;
  width: 60vw;
  height: 80vh;
  .player-container {
    // width: 60vw;
    // height: 80vh;
  }
  .cover {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
    .loading {
      // position: absolute;
      // top: 50%;
      // left: 50%;
      // transform: translate(-50%, -50%);
      color: white;
    }
  }
  .no-stream {
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background: black;
    z-index: 1001;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
    .title {
      color: $fontColor;
      font-size: 2rem;
      text-align: center;
    }
  }
}