.card-container {
  display: flex;
  flex-direction: row;
  width: 50vw;
  max-height: 45vh;
  overflow-y: auto;
  position: relative;
  .image-container {
    position: relative;
    flex: 0 0 30%;
    height: 45vh;
  }
  .brief {
    @include ellipsis-text;
  }
  .card-content {
    max-height: 45vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    &:last-child {
      padding-bottom: 16px;
    }
    .external-websites {
      margin-top: 2vh;
      display: flex;
      flex-direction: row;
      gap: 10px;
      img {
        width: 30px;
        height: 30px;
      }
    }
    .name {
      margin-bottom: 2vh;
    }
    .tags {
      display: flex;
      gap: 1vh;
      margin-top: 2vh;
      flex-direction: row;
      flex-wrap: wrap;
    }
    .play-area {
      cursor: pointer;
      margin-top: auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      .play-icon {
        margin-right: 1vw;
        width: 40px;
        height: 40px;      
      }
    }
  }
}