.comedians-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  .search-area {
    margin-bottom: 3vh;
  }
  .comedians-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    .card-container {
      display: flex;
      flex-direction: row;
      width: 50vw;
      max-height: 40vh;
      overflow-y: scroll;
      .brief {
        display: -webkit-box;
        max-width: 100%;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
      .avatar {
        height: 40vh;
      }
      .card-content {
        max-height: 40vh;
        overflow-y: scroll;
        margin-left: 2vw;
        display: flex;
        flex-direction: column;
        &:last-child {
          padding-bottom: 16px;
        }
        .name {
          margin-bottom: 2vh;
        }
        .tags {
          display: flex;
          gap: 1vh;
          margin-top: 2vh;
          flex-direction: row;
          flex-wrap: wrap;
        }
        .play-area {
          cursor: pointer;
          margin-top: auto;
          display: flex;
          flex-direction: row;
          align-items: center;
          .play-icon {
            margin-right: 1vw;
            width: 40px;
            height: 40px;      
          }
        }
      }
    }
  }
}