.comedian-card {
  display: flex !important;
  flex-direction: row;
  max-width: 50vw !important;
  // max-height: 40vh;
  // overflow-y: scroll;
  justify-content: flex-start !important;
  .MuiTypography-root {
    text-align: left;
  }
  .body {
    display: flex;
    flex-direction: column;
  }
}