.main {
  height: 100%;
  background: url('https://andycdn-fndbfaewgxbve2ha.z01.azurefd.net/images/background-1-min.webp') no-repeat center center/cover;
  position: relative;

  .cover {
    position: relative;
    background-color: #0000008c;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 64px);
  }
  .headline {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1000;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    .buttons {
      display: flex;
      flex-direction: row;
      gap: 20px;
    }
  }
}
