.gpt-container {
  width: 60vw;
  margin: 20px auto;
  .title {
    color: $mainColor;
    margin-bottom: 20px;
  }
  .card-list {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1vw;
    justify-content: center;
    .card-container {
      display: flex;
      flex-direction: column;
    }
    .button-area {
      margin-top: 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
    }
  }
}