.player-container {
  position: relative;
  width: 60vw;
  // min-height: 100vh;
  .iframe-container {
    position: relative;
    .cover {
      z-index: -1000;
      position: relative;
      left: 0;
      top: 0;
      width: 60vw;
      height: 80vh;
      &.float {
        z-index: 1000;
      }
    }
    .iframe {
      position: absolute;
      left: 0;
      top: 0;
      border: 0;
      border-radius: 4px;
      width: 60vw;
      height: 80vh;
    }
    .canvas {
      position: relative;
      height: 80vh;
      width: 60vw;
      top: -15px;
      left: 0;
      z-index: 10000;
      &.hide {
        z-index: -10000;
      }
    }
  }
  .video-title {
    color: black;
    margin-top: 3vh !important;
    font-weight: bold;
  }
  .subtitle-container {
    display: flex;
    flex-direction: row;
    margin-top: 3vh;
    .subtitles {
      margin-right: 3vw;
    }
    .jump-to {
      display: flex;
      flex-direction: row;
      align-items: center;
      .minute, .second {
        width: 10vw;
      }
      .jump-to-button {
        margin-left: 1vw;
      }
    }
    .second {
      margin-left: 1vw;
    }
  }
}
